html{
	/*height:100%;*/
	/*background-repeat: no-repeat;*/

	/*color:white;*/
}





.image{

	width: 100%;
	background-attachment:fixed; 
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);



}

#Skills{

	padding-bottom:20px;
	padding-top:20px;
}


#pro-content{
	padding-top: 20px;
	border:2px transparent #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}

#hw-content{
	/*position: fixed;*/
	padding-top: 20px;
	border:2px solid #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}

#ot-content{
	/*position: fixed;*/
	padding-top: 20px;
	border:2px solid #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}

#med-content{
	border:2px solid #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}

#ibm-content{
	border:2px solid #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}

#amel-content{
	border:2px solid #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}

#puro-content{
	border:2px solid #000;
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	background: #FFFFFF;
	color:white;
	background:url("../img/Image3.png") repeat;
}



ul{
	list-style: none;

}

li{
	background:url(../img/bullet.png) no-repeat left; 
    padding-left: 10px;
    margin: 3px 0;
}


#contact{

	font-family: 'Kameron', serif;
}

.skill_img:hover{
	opacity:0.5;
}

#container{

	align:center;
}

#ibm-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}

#med-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}

#amel-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}

#puro-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}

#pro-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}

#hw-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}

#ot-content ul li{
	padding-left: 30px;
    margin: 3px 0;

}